/* COMMON CSS START */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--bodyHeight: 1000px;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-size: 1.6rem;
	line-height: 2.4rem;
	min-height: var(--bodyHeight);
	text-rendering: optimizeLegibility;
}
header, section, footer, aside, nav, main, article, figure {
	display: block;
}
img {
	max-width: 100%;
	height: auto;
}
ul {
	list-style-type: none;
}
a:link {
	text-decoration: none;
}
.custom_container {
	max-width: 100rem;
	width: 90%;
	margin: 0 auto;
}
/* COMMON CSS END */
/* NAVIGATION MENU START */
header {
	background: #000; 
}
header a.logo {
	font-size: 2rem;
}
header .main-menu ul {
	margin-bottom: 0; 
}
header .main-menu ul li {
	display: inline-block;
	margin-left: 2rem;
	position: relative; 
}
header .main-menu ul li a {
	padding: 2rem;
	display: block;
	color: #fff; 
}
header .main-menu ul li ul.dropdown {
	position: absolute;
	top: 120%;
	left: 0;
	width: 15rem;
	background: red;
	opacity: 0;
	visibility: hidden;
	transition: .3s all ease; 
}
header .main-menu ul li ul.dropdown li {
	display: block;
	margin: 0;
	position: relative; 
}
header .main-menu ul li ul.dropdown li a {
	display: block;
	text-align: left;
	color: #fff; 
}
header .main-menu ul li ul.dropdown li ul.sub-dropdown {
	position: absolute;
	top: 0;
	left: 110%;
	width: 100%;
	background: red;
	opacity: 0;
	visibility: hidden;
	transition: .3s all ease; 
}
header .main-menu ul li ul.dropdown li:hover > a {
	background: #000; 
}
header .main-menu ul li ul.dropdown li:hover ul.sub-dropdown {
	left: 100%;
	opacity: 1;
	visibility: visible; 
}
header .main-menu ul li:hover a {
	color: red; 
}
header .main-menu ul li:hover ul.dropdown {
	top: 100%;
	opacity: 1;
	visibility: visible; 
}
/* NAVIGATION MENU END */

/* RESPONSIVE STYLE START */
@media all and (max-width: 767px) {
	a.logo {
		position: fixed;
		left: 3%;
		top: 7.3%;
		z-index: 999999999;
		transform: translateY(-38px);
	}
	.mean-container a.meanmenu-reveal span {
		display: inline;
	}
	.mean-container a.meanmenu-reveal {
		width: 0;
		margin-right: 1rem;
	}
	span::after {
		content: "";
		display: block;
		clear: both;
		margin-top: .5rem;
		height: .2rem;
		width: 1.2rem;
		background: #fff;
	}
	.mean-container .mean-nav ul li li a, .mean-container .mean-nav ul li li li a {
		width: 100%;
		padding: 1em 5%;
	}
	.mean-container .mean-bar {
		background: #000;
	}
	.mean-container .mean-nav ul li a:hover {
		background: red;
		opacity: 1;
		transition: .3s;
	}
	.mean-container .mean-nav {
		background: #000;
	}
}
/* RESPONSIVE STYLE END */